<% source = object.one_to_one_source %> 
<% target = object.one_to_one_target %>
<tr> 
	<td><%= object.code %></td>
	<td><b><%= source.quantity %>x</b> <%= source.item.name  %></td>
	<td><b><%= target.quantity %>x</b>  <%= target.item.name %></td>
	
	
	<td>
		<%= link_to root_url, :class =>"delete_entry", :style => "cursor:pointer; text-decoration:none;" do %>
			<i class='icon-remove'></i>Delete
		<% end %> 
	</td>

	<td>
		<%= link_to edit_vendor_url(object), 
			:class =>"edit_entry modal-toggler", :style => "cursor:pointer; text-decoration:none;" do %>
			<i class='icon-edit'></i>Edit
		<% end %>
	</td>
</tr>