<tr id="entry-<%= object.id %>">
	<td>
		<%=  object.name %>
	</td>
	
	<td>
		<%= link_to new_service_component_compatibility_url(object), :class =>"new_entry", :style => "cursor:pointer; text-decoration:none;" do %>
			<i class='icon-plus'></i>Tambah Compatibility
		<% end %>
		<hr />
		
		<ul class='component_wrapper' id="component_from_service-<%= object.id  %>">
			<% object.active_compatibilities.each do |compatibility| %>
				<%= render :partial => "compatibilities/entry", :locals => {
					:object => compatibility,
					:service_component => object
				}%>
			<% end %> 
		</ul>
	</td> 
	
	<td>
		<%= link_to root_url, :class =>"delete_entry", :style => "cursor:pointer; text-decoration:none;" do %>
			<i class='icon-remove'></i>Delete
		<% end %> 
	</td>

	<td>
		<%= link_to edit_service_service_component_url(service, object), 
			:class =>"edit_entry modal-toggler", :style => "cursor:pointer; text-decoration:none;" do %>
			<i class='icon-edit'></i>Edit
		<% end %>
	</td>
</tr>

