<%= render :partial => "layouts/masthead" ,:locals => {
	:title => "Service",
	:description => "For #{@service.name}"
}%>

<div id="content">

	<div class="container">
		
		
		<div class="row">
			
			<div class="span12">
				 
				
				<%= link_to new_service_service_component_url(@service), :class => "new_entry btn btn-primary" do %>
					<i class="icon-plus"></i>Service Component Baru
				<% end %> 
				<hr />
				
				<%#= render :partial => "items/new_object_form", :locals => {
					:new_object => @new_object , 
					:url => items_url, 
				}%>

				
				
				<table class="table table-bordered table-striped table-highlight" id='tableview'>
					<thead>
						<tr>
							<th>Service Component</th>
							<th>Compatibility</th>  
							<th style='text-align:center;' colspan='2'>Action</th>
						</tr>
					</thead>
					<tbody>
						<% @objects.each do |object| %>
							<%= render :partial =>  'service_components/entry', :locals => {
								:object => object ,
								:service => @service
							} %> 
						<% end %>
					</tbody>
				</table>

				
			</div> <!-- /.span8 -->
			
			
		 
			
		</div> <!-- /.row -->
		
	
	</div> <!-- /.container -->

</div> <!-- /#content -->

<div class="modal fade hide" id="editEntry">
  <div class="modal-header">
    <h3>Edit Service Component</h3>
  </div>
  <div class="modal-body"> 
	<!-- content -->
  </div>
  <div class="modal-footer">
    <!-- <a href="javascript:;" class="btn" data-dismiss="modal">Close</a> -->
		<a  class="btn modal_closer"  >Close</a>
  </div>
</div>

<div class="modal fade hide" id="newEntry">
  <div class="modal-header">
    <h3>New Service Component</h3>
  </div>
  <div class="modal-body"> 
	<!-- content -->
  </div>
  <div class="modal-footer">
    <!-- <a href="javascript:;" class="btn" data-dismiss="modal">Close</a> -->
		<a  class="btn modal_closer"  >Close</a>
  </div>
</div>
 


<div class="hidden" id="delete_entry_form_wrapper">
  <%= form_for Service.new, :url =>delete_service_component_url(@service) , :method => :post   do |f| %>
    <%= hidden_field_tag 'object_to_destroy_id' , ''  %> 
  <% end %>
</div>

 

<% content_for :additional_js do %> 
	<%= javascript_include_tag "jquery.tokeninput", 
													"common_order/entry_creation"  	%> 
	 
<% end %>

<% content_for :additional_css do %> 
  <%= stylesheet_link_tag "token-input"  	%> 
<% end %>

