<%= simple_form_for( new_object, :url => url,
      :method => :post , 
      :html => {:class => " prevent_double_submit ajax-form",
        :id => "add_product_form"}) do |f| %> 
	<%=	 hidden_field_tag 'item_id', "#{item.id}" %> 

			<table class="table table-bordered table-striped table-highlight">
				<thead>
					<tr>
						<th style='text-align:center;'><%= item.name  %></th>  
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> 
						  	<%= f.input :quantity,  
											:label => "Quantity" , :hint => "Setidaknya 1. Ready Stock:  #{item.ready}", 
											:as => :string  %> 
						</td>
						
					</tr>
					<tr>
						<td> 
								<%= f.input :selling_price_per_piece ,
											:label =>"Harga Satuan", 
											:hint => "Recommended selling price: #{print_money(item.recommended_selling_price)}", 
											:as => :string %>
			 
							
						</td>
					</tr>
					<tr>
						<td style='text-align:center;'><%= f.submit  "Add Product", :class =>"btn" %></td>
					</tr>
				</tbody>
			</table> 
<% end %>