<%= simple_form_for( new_object, :url => url,
      :method => :post , 
      :html => {:class => " prevent_double_submit ajax-form",
        :id => "add_service_form"}) do |f| %> 
	<%=	 hidden_field_tag 'service_id', "#{service.id}" %> 

			<table class="table table-bordered table-striped table-highlight">
				<thead>
					<tr>
						<th style='text-align:center;'><%= service.name  %></th>  
					</tr>
				</thead>
				<tbody>
					<!-- <tr>
						<td>
							<div class="control-group string optional">
								<label class="string optional control-label" for="employee_id">Vehicle</label>
								<div class="controls">
									<%= text_field_tag 'search_vehicle_id' %>
								</div>
							</div>
						</td>
					</tr> -->
					
					<tr>
						<td>
							<div class="control-group string optional">
								<label class="string optional control-label" for="employee_id">Staff</label>
								<div class="controls">
									<%= select_tag 'employee_id', 
														options_for_select(employees.collect{ |e| [e.name, e.id] }), 
														:multiple => true 
									 			%>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td> 
								<%= f.input :selling_price_per_piece ,
											:label =>"Biaya Service", 
											:hint => "Recommended a selling price: #{print_money(service.recommended_selling_price)}." + 
															"<br />"+ 
															"Masukkan angka tanpa tanda baca, seperti <b>200000</b>.",  
											:input_html => { :value => "#{ service.recommended_selling_price.to_i }" },
											:as => :string %> 
						</td>
					</tr>
					<tr>
						<td style='text-align:center;'><%= f.submit  "Add Service", :class =>"btn" %></td>
					</tr>
				</tbody>
			</table> 
<% end %>