<% if new_object.persisted? %>
	<% id = 'edit_object'%>
<% else %>
	<% id = 'new_object'%>
<% end %>


<%= simple_form_for( new_object, :url => url,
      :method => :post , 
      :html => {:class => "prevent_double_submit ajax-form   no_content_form",
        :id => "#{id}"}) do |f| %>
 
  <%= f.input :id_code  , :input_html => {:class => "input-xlarge "}, 
  :label => "Plat Nomor" %>

	<%= f.input :customer_id  , :input_html => {:class => "input-xlarge "}, 
  :label => "Pemilik" , :as => :string %>

	 

  <div class="form-actions">
	
		<% if new_object.persisted? %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Update Vehicle" %>
		<% else %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Create Vehicle" %>
		<% end %>
   </div>
<% end %>