<%= simple_form_for( new_object, :url => url,
      :method => :post , 
      :html => {:class => "form-horizontal prevent_double_submit ajax-form   no_content_form",
        :id => "new_object"}) do |f| %>

	<%#= f.input :parent_id , :label => "Super Category" %>
 	

 	<%= hidden_field_tag 'item_id', "#{item_id}"%>
	<%= f.input :quantity , :label => "Quantity" %>
	<%= f.input :base_price_per_piece , :label => "Base Price per Piece", 
		:hint => "Isi dengan jumlah nominal tanpa titik atau koma. <br />"+
		"Contoh: <b>500000</b>, yang berarti Rp 500,000 rupiah" %>

  <div class="form-actions">
    <%= f.button :submit , :class => "btn btn-primary", :value=> "Create Stock Migration" %>
  </div>
<% end %>

